body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.form-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);

  position: fixed;
}

.form-input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.search-button {
  background-color: #83e8c3;
  height: 30px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms linear, color 250ms linear;
}

.search-button:hover,
.search-button:focus {
  background-color: #022c15;
  color: beige;
}

.gallery {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.photo-card {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  border: 1px grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gallery__image {
  width: 100%;
  height: 280px;
}

.info {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #022c15;
  font-size: 20px;
}

.info-item {
  text-align: center;
}

.number-wrapper {
  color: #d25d04;
}
